html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}


/* *******************************
          general styling
******************************* */

body {
  font-size: 62.5%;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

li {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul,
li,
a,
p,
h1,
h1,
h3 {
  padding: 0;
  margin: 0;
}

a,
p {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
}

/* *******************************
          heading styling
******************************* */

h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 4rem;
  margin: 15px 0;
}

h2 {
  font-size: 1.2rem;
  text-transform: uppercase;
  color:rgb(4, 77, 4);
}

/* *******************************
          header styling
******************************* */

header {
  padding: 50px 0;
  text-align: center;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.6)), url(./mealPlan2.jpg);
}

fieldset {
  border: none;
  margin: 7px 0;
}

label {
  font-size: 1.1rem;
  margin-right: 10px;
  text-transform: uppercase;
  font-weight: bolder;
}

input {
  padding: .4em .75em;
  border-radius: 5px;
  font-size: 1rem;
}

select,
input {
  box-shadow: -2px -2px gray;
}

select:hover,
select:focus,
input:hover,
input:focus {
  box-shadow: 2px 2px gray;
  cursor: pointer;
}

select,
option{
  font-size: 1rem;
  padding: .25em .35em;
}

button {
  padding: 6px 10px;
  font-size: 1rem;
  margin-top: 10px;
  border: 2px solid gray;
  border-radius: 5px;
}

button:hover {
  box-shadow: 2px 2px gray;
  background-color: rgb(77, 77, 77);
  color: gainsboro;
  cursor: pointer;
}

/* *******************************
          main styling
******************************* */
.loading-container {
  text-align: center;
  width: 100%;
  margin-top: 20px; 
}

.loading-container p {
  font-family: 'Dancing Script', cursive;
  color: rgb(2, 46, 2);
}

.loading {
  height: 400px;
  width: 90%;
  align-items: center;
}

li a {
  background: #2C943D;
  background: -webkit-linear-gradient(to right, #2C943D 0%, #DBA951 88%);
  background: -moz-linear-gradient(to right, #2C943D 0%, #DBA951 88%);
  background: linear-gradient(to right, #2C943D 0%, #DBA951 88%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 15px;
}

li a:hover {
  background: #DBA951;
  background: -webkit-linear-gradient(to right, #fff 0%, #4aa259 88%);
  background: -moz-linear-gradient(to right, #fff 0%, #4aa259 88%);
  background: linear-gradient(to right, #fff 0%, #4aa259 88%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 2px solid whitesmoke;
}

li p {
  color:rgb(4, 77, 4);
  font-size: 1rem;
  margin-bottom: 5px;
}

ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

li {
  width: calc((100% / 2) - 40px);
  text-align: center;
  border: 2px solid rgb(4, 77, 4);
  margin: 20px;
}

li img {
  object-fit: cover;
  border-bottom: 2px solid rgb(4, 77, 4);
}

li:hover,
li:focus {
  box-shadow: 10px 10px #DBA951;
  background: rgb(4, 77, 4);
}

li:hover h2,
li:focus h2,
li:hover p,
li:focus p{
  color: whitesmoke;
}

/* *******************************
          footer styling
******************************* */

footer {
  margin: 15px 0;
}

footer p,
footer a {
  font-size: 1.4rem;
  text-align: center;
  font-family: 'Dancing Script', cursive;
}

footer p {
  color: rgb(2, 46, 2);
}

footer a {
  background: #2C943D;
  background: -webkit-linear-gradient(to right, #2C943D 0%, #DBA951 88%);
  background: -moz-linear-gradient(to right, #2C943D 0%, #DBA951 88%);
  background: linear-gradient(to right, #2C943D 0%, #DBA951 88%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer a:hover {
  border-bottom: 2px solid #DBA951;
}

/* *******************************
          MEDIA QUERIES
******************************* */
@media(max-width: 700px) {
  ul {
    justify-content: center;
    align-items: center;
  }

  li {
    width: 80%;
    margin: 20px 0;
  }

  li:hover,
  li:focus {
  box-shadow: 12px 12px #DBA951;
  }
}

@media(max-width: 540px) {
  .wrapper {
    width: 98%;
  }

  h1 {
    font-size: 3rem;
  }

  label {
    font-size: 1rem;
  }
}

@media(max-width: 420px) {
  input,
  select,
  button {
    width: 70%;
  }
}